@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/*zone header PAGE COMMUNE*/
header {
  display: flex;
  justify-content: center;
  margin: 0;
  width: 100%;
  background: white;
  position: relative;
  box-shadow: 0 0 2px 1px #cfcfcf;
}

#logo,
h1,
h2 {
  display: flex;
  justify-content: center;
  font-family: "Shrikhand", "cursif";
  font-weight: 900;
}

/*fin zone header*/
/*PAGE ACCUEIL*/
/*début main*/
/*section city*/
.zone_city {
  display: flex;
  justify-content: center;
  background: #eaeaea;
}

.map {
  display: flex;
  align-items: center;
}

.city {
  justify-content: center;
  padding-left: 5px;
}

/*section reservation  */
.reservation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  background-color: #f6f6f6;
  padding: 35px;
}
.reservation .reservation_title {
  text-align: center;
  font-weight: bold;
}
.reservation .reservation_stitle {
  text-align: center;
  margin-top: 3px;
}
.reservation .reservation_recherche {
  display: flex;
  text-align: center;
  background: linear-gradient(to top, #9356dc, #ff79da);
  border-radius: 30px;
  border: #ff79da;
  width: 180px;
  height: 40px;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 3px #eaeaea;
  color: white;
  font-size: 14px;
}

/*section fonctionnement*/
.fonctionnement {
  width: 100%;
}
.fonctionnement .contenaire_tri {
  width: 95%;
}
.fonctionnement .tri_title {
  font-weight: bold;
  margin-left: 30px;
}
.fonctionnement .tri_liste {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.fonctionnement .no_list {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  border: 2px solid #f2f2f2;
  border-radius: 30px;
  box-shadow: 5px 5px 5px #f6f6f6;
  height: 75px;
  width: 100%;
  list-style: none;
  margin: 10px 0;
}
.fonctionnement .no_list .numero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356dc;
  border-radius: 50%;
  border: #9356dc;
  width: 22px;
  height: 22px;
  margin: 0 -15px;
  color: white;
}
.fonctionnement .no_list .icone {
  color: #7e7e7e;
  margin: 0 1.7rem;
}
.fonctionnement .no_listviolet {
  display: flex;
  align-items: center;
  border: 2px solid #f2f2f2;
  border-radius: 30px;
  box-shadow: 5px 5px 5px #f6f6f6;
  height: 75px;
  width: 100%;
  list-style: none;
  margin: 10px 0;
  background-color: #f5edff;
}
.fonctionnement .no_listviolet .numero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356dc;
  border-radius: 50%;
  border: #9356dc;
  width: 22px;
  height: 22px;
  margin: 0 -15px;
  color: white;
}
.fonctionnement .no_listviolet .icone {
  color: #9356dc;
  margin: 0 1.7rem;
}

/*section restaurants*/
.restaurants {
  width: 100%;
  /*zone contenaire des cartes*/
  /*les cartes*/
}
.restaurants .restaurants_title {
  margin-left: 20px;
  margin-top: 50px;
}
.restaurants .contenair_card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: #f6f6f6;
  padding-bottom: 50px;
}
.restaurants .card_resto {
  display: flex;
  flex-direction: column;
}
.restaurants .card_link {
  text-decoration: none;
}
.restaurants .card_diner {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 90%;
  border-radius: 20px 0 20px 0;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 3px 1px #0000003e;
  text-decoration: none;
  margin-left: 20px;
  margin-bottom: 25px;
  cursor: pointer;
  transition: 0.1s;
  list-style: none;
}
.restaurants .card_image {
  display: flex;
}
.restaurants .card_diner img {
  width: 100%;
  height: 195px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.restaurants .nouveaute {
  position: absolute;
  right: 30px;
  background-color: #99e2d0;
  color: #008766;
  font-weight: bold;
  padding: 6px 5px;
  margin: 10px;
}
.restaurants .zone_texte {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-between;
  line-height: 3px;
}
.restaurants .zone_texte h4 {
  color: black;
  padding-left: 20px;
}
.restaurants .zone_texte p {
  color: black;
  font-weight: normal;
  padding-left: 20px;
}
.restaurants .zone_texte .elementcoeur {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 23px;
  color: black;
  align-self: center;
  margin: 10px 10px 25px 30px;
}

/*Fin MAIN*/
/*footer*/
footer {
  display: flex;
  background-color: #353535;
  list-style: none;
  width: 100%;
  position: relative;
}
footer h3 {
  font-family: "Shrikhand", "cursif";
  color: white;
  margin-left: 40px;
}
footer .listcontact {
  line-height: 25px;
}
footer li {
  color: white;
  list-style: none;
}
footer .icone_diner,
footer .icone_partenaire {
  padding-right: 12px;
}
footer .icone_partenaire {
  font-size: small;
  padding-right: 8px;
}

/*PAGE DEUX A QUATRE */
/*header*/
.header2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.header2 .arrow {
  padding-right: 2rem;
  font-size: 20px;
}

.imgfond img {
  width: 100%;
  top: 4.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

/*zone main*/
/*section fond_page*/
.fond_page {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
  width: 100%;
  z-index: 1;
  position: relative;
  /*les menus*/
  /*zone titre des plats*/
}
.fond_page .menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;
}
.fond_page .menu .title_p {
  margin-left: 40px;
  padding-top: 25px;
}
.fond_page .menu .icone_heart {
  padding-right: 25px;
  font-size: 25px;
}
.fond_page .entree,
.fond_page .plat,
.fond_page .dessert {
  display: flex;
  flex-direction: column;
}
.fond_page .entree .h3menu,
.fond_page .plat .h3menu,
.fond_page .dessert .h3menu {
  text-transform: uppercase;
  margin-left: 20px;
  height: 5px;
}
.fond_page .entree .trait,
.fond_page .plat .trait,
.fond_page .dessert .trait {
  border-bottom: solid 3px #99e2d0;
  max-width: 3.2rem;
  margin-bottom: 20px;
  margin-left: 20px;
}
.fond_page .card_fond {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: white;
  width: 95%;
  border-radius: 20px;
  box-shadow: 0 1px 3px 1px #0000001e;
  text-decoration: none;
  margin-left: 10px;
  margin-bottom: 25px;
  cursor: pointer;
  transition: 0.1s;
  list-style: none;
  /*zone des prix*/
}
.fond_page .card_fond .card_eat {
  line-height: 13px;
  padding-left: 10px;
  max-width: calc(100% - 40px);
}
.fond_page .card_fond p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.fond_page .card_fond .eatprice {
  padding: 3.3rem 1rem 0 0;
  font-weight: bold;
  max-width: 40px;
}

.buttons {
  display: flex;
  justify-content: center;
  padding: 2rem;
}
.buttons .button {
  display: flex;
  text-align: center;
  background: linear-gradient(to top, #9356dc, #ff79da);
  border-radius: 30px;
  border: #ff79da;
  width: 180px;
  height: 40px;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 3px #eaeaea;
  color: white;
  font-size: 14px;
  padding: 1.5rem 0;
}

/*VERSION TABLET*/
/*section card zone restaurant*/
@media (min-width: 600px) {
  .reservation .reservation_title {
    font-size: 30px;
  }
  .reservation .reservation_stitle {
    font-size: 18px;
  }
  .reservation .reservation_recherche {
    width: 590px;
    height: 50px;
    font-size: 18px;
  }

  .restaurants .card_resto {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .restaurants .card_link {
    width: 50%;
  }
  .restaurants .nouveaute {
    right: auto;
    margin-left: 30%;
  }
}
/*header*/
@media (min-width: 768px) {
  /*zone fonctionnement*/
  .fonctionnement {
    width: 100%;
  }
  .fonctionnement .contenaire_tri .tri_liste {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .fonctionnement .contenaire_tri .tri_liste .l2 {
    order: 1;
  }
  .fonctionnement .contenaire_tri .tri_liste .l3 {
    margin-top: 60px;
  }
  .fonctionnement .contenaire_tri .tri_liste .no_list,
.fonctionnement .contenaire_tri .tri_liste .no_listviolet {
    height: 50px;
  }
  .fonctionnement .contenaire_tri .tri_liste h4 {
    text-align: left;
  }

  /*section page deux a quatre*/
  .entree,
.plat,
.dessert {
    flex-direction: row;
  }
  .entree .h3menu,
.plat .h3menu,
.dessert .h3menu {
    display: flex;
    justify-content: center;
  }
  .entree .trait,
.plat .trait,
.dessert .trait {
    margin-left: 46%;
  }

  /*zone FOOTER*/
  .listcontact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .contact {
    padding-left: 20px;
  }
}
/*VERSION DESTOP*/
@media screen and (min-width: 992px) {
  .restaurants .card_link {
    width: 25%;
  }
  .restaurants .card_diner {
    width: 90%;
    height: 268px;
    margin-left: 15px;
    margin-bottom: 25px;
  }
  .restaurants .nouveaute {
    right: auto;
    margin-left: 15%;
  }

  .fond_page {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
  }
  .fond_page .entree,
.fond_page .plat,
.fond_page .dessert {
    display: flex;
    flex-direction: row;
  }
  .fond_page .buttons {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1148px) and (max-width: 1950px) {
  .reservation {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    padding: 60px;
  }
  .reservation .reservation_title {
    font-size: 31px;
  }
  .reservation .reservation_stitle {
    font-size: 21px;
  }
  .reservation .reservation_recherche {
    width: 615px;
    height: 60px;
    font-size: 20px;
  }
  .reservation .r2 {
    order: 1;
  }
  .reservation .r3 {
    align-self: flex-end;
    margin-top: 50px;
    margin-left: auto;
    width: 615px;
  }
}/*# sourceMappingURL=style.css.map */