@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/*zone header*/
header {
  display: flex;
  justify-content: center;
  margin: 0;
  width: 100%;
  background: white;
}

#logo, h1 {
  display: flex;
  justify-content: center;
  font-family: "Shrikhand", "cursif";
  font-weight: 900;
}

/*fin zone header*/
/*début main*/
/*section city*/
.zone_city {
  display: flex;
  justify-content: center;
  background: #eaeaea;
}

.map {
  display: flex;
  align-items: center;
}

.city {
  justify-content: center;
  padding-left: 5px;
}

/*section reservation*/
.reservation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  background-color: #f6f6f6;
  padding: 34px;
}
.reservation .reservation_title {
  text-align: center;
  font-weight: bold;
}
.reservation .reservation_stitle {
  text-align: center;
  margin-top: 3px;
}
.reservation .reservation_recherche {
  display: flex;
  text-align: center;
  background: linear-gradient(to top, #9356dc, #FF79DA);
  border-radius: 30px;
  border: #FF79DA;
  width: 180px;
  height: 40px;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 3px #eaeaea;
  color: white;
  font-size: 14px;
}

/*section fonctionnement*/
.fonctionnement {
  width: 100%;
}
.fonctionnement .contenaire_tri {
  width: 95%;
}
.fonctionnement .tri_title {
  font-weight: bold;
  margin-left: 30px;
}
.fonctionnement .tri_liste {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.fonctionnement .no_list {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  border: 2px solid #f2f2f2;
  border-radius: 30px;
  box-shadow: 5px 5px 5px #f6f6f6;
  height: 75px;
  width: 100%;
  list-style: none;
  margin: 10px 0;
}
.fonctionnement .no_list .numero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356dc;
  border-radius: 50%;
  border: #9356dc;
  width: 22px;
  height: 22px;
  margin: 0 -15px;
  color: white;
}
.fonctionnement .no_list .icone {
  color: #7e7e7e;
  margin: 0 1.7rem;
}
.fonctionnement .no_listviolet {
  display: flex;
  align-items: center;
  border: 2px solid #f2f2f2;
  border-radius: 30px;
  box-shadow: 5px 5px 5px #f6f6f6;
  height: 75px;
  width: 100%;
  list-style: none;
  margin: 10px 0;
  background-color: #f5edff;
}
.fonctionnement .no_listviolet .numero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356dc;
  border-radius: 50%;
  border: #9356dc;
  width: 22px;
  height: 22px;
  margin: 0 -15px;
  color: white;
}
.fonctionnement .no_listviolet .icone {
  color: #9356dc;
  margin: 0 1.7rem;
}

/*section restaurants*/
.restaurants {
  width: 100%;
}

.restaurants_title {
  margin-left: 20px;
}

/*zone contenaire des cartes*/
.contenair_card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

/*les cartes*/
.card_resto {
  display: flex;
  flex-direction: column;
}

.card_link {
  text-decoration: none;
}

.card_diner {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 90%;
  height: 268px;
  border-radius: 20px 0 20px 0;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 3px 1px #0000003e;
  text-decoration: none;
  margin-left: 20px;
  margin-bottom: 25px;
  cursor: pointer;
  transition: 0.1s;
  list-style: none;
}

.card_image {
  display: flex;
}

.card_diner img {
  width: 100%;
  height: 195px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.nouveaute {
  position: absolute;
  right: 30px;
  background-color: #99e2d0;
  color: #008766;
  font-weight: bold;
  padding: 6px 5px;
  margin: 10px;
}

.zone_texte {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-between;
  line-height: 3px;
}
.zone_texte h3 {
  color: black;
  padding-left: 20px;
}
.zone_texte p {
  color: black;
  font-weight: normal;
  padding-left: 20px;
}
.zone_texte .elementcoeur {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 23px;
  color: black;
  align-self: center;
  margin: 10px 10px 25px 30px;
}

footer {
  display: flex;
  background-color: #353535;
  list-style: none;
  margin-top: 40px;
}
footer h3 {
  font-family: "Shrikhand", "cursif";
  color: white;
  margin-left: 40px;
}
footer .listcontact {
  line-height: 25px;
}
footer li {
  color: white;
  list-style: none;
}
footer .icone_diner, footer .icone_partenaire {
  padding-right: 12px;
}
footer .icone_partenaire {
  font-size: small;
  padding-right: 8px;
}

/*VERSION TABLET*/
/*section card zone restaurant*/
@media (min-width: 600px) {
  .restaurants .card_resto {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .restaurants .card_link {
    width: 50%;
  }
  .restaurants .nouveaute {
    right: auto;
  }
}
/*header*/
@media (min-width: 768px) {
  .reservation .reservation_title {
    font-size: 30px;
  }
  .reservation .reservation_stitle {
    font-size: 18px;
  }
  .reservation .reservation_recherche {
    width: 550px;
    height: 50px;
    font-size: 18px;
  }

  /*zone fonctionnement*/
  .fonctionnement {
    width: 100%;
  }
  .fonctionnement .contenaire_tri .tri_liste {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .fonctionnement .contenaire_tri .tri_liste .l2 {
    order: 1;
  }
  .fonctionnement .contenaire_tri .tri_liste .l3 {
    margin-top: 60px;
  }
  .fonctionnement .contenaire_tri .tri_liste .no_list, .fonctionnement .contenaire_tri .tri_liste .no_listviolet {
    height: 50px;
  }
  .fonctionnement .contenaire_tri .tri_liste h4 {
    text-align: left;
  }

  /*zone FOOTER*/
  .listcontact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .contact {
    padding-left: 20px;
  }
}
/*VERSION DESTOP*//*# sourceMappingURL=style.css.map */