@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/*zone header*/
header {
  display: flex;
  justify-content: center;
  margin: 0;
  width: 100%;
  background: white;
  box-shadow: 3px 3px red;
}

#logo, h1 {
  display: flex;
  justify-content: center;
  font-family: "Shrikhand", "cursif";
  font-style: oblique;
  font-weight: 900;
}

/*fin zone header*/
/*début main*/
/*section city*/
.zone_city {
  display: flex;
  justify-content: center;
  background: #eaeaea;
}

.map {
  display: flex;
  align-items: center;
}

.city {
  justify-content: center;
}

.reservation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  padding: 35px;
  text-align: center;
  justify-content: center;
  background-color: #f6f6f6;
}
.reservation .reservation_title {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  font-weight: bold;
}
.reservation .reservation_stitle {
  display: flex;
  text-align: center;
}
.reservation .reservation_recherche {
  display: flex;
  text-align: center;
  background-color: #9356dc;
  border-radius: 30px;
  border: #9356dc;
  width: auto;
  height: 50px;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 3px #eaeaea;
  color: white;
  font-size: 12px;
}

.fonctionnement {
  width: 100%;
}
.fonctionnement .contenaire_tri {
  width: 95%;
}
.fonctionnement .tri_title {
  font-weight: bold;
  margin-left: 30px;
}
.fonctionnement .tri_liste {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.fonctionnement .no_list {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  border: 2px solid #f2f2f2;
  border-radius: 30px;
  box-shadow: 5px 5px 5px #f6f6f6;
  height: 75px;
  width: 100%;
  list-style: none;
  margin: 10px 0;
}
.fonctionnement .no_list .numero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356dc;
  border-radius: 50%;
  border: #9356dc;
  width: 22px;
  height: 22px;
  margin: 0 -15px;
  color: white;
}
.fonctionnement .no_list .icone {
  color: #7e7e7e;
  margin: 0 1.7rem;
}
.fonctionnement .no_listviolet {
  display: flex;
  align-items: center;
  border: 2px solid #f2f2f2;
  border-radius: 30px;
  box-shadow: 5px 5px 5px #f6f6f6;
  height: 75px;
  width: 100%;
  list-style: none;
  margin: 10px 0;
  background-color: #f5edff;
}
.fonctionnement .no_listviolet .numero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356dc;
  border-radius: 50%;
  border: #9356dc;
  width: 22px;
  height: 22px;
  margin: 0 -15px;
  color: white;
}
.fonctionnement .no_listviolet .icone {
  color: #9356dc;
  margin: 0 1.7rem;
}

/*section restaurants*/
.restaurants {
  width: 100%;
}

.restaurants_title {
  margin-left: 20px;
}

.contenair_card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.card_resto {
  display: flex;
  flex-direction: column;
}

.card_link {
  text-decoration: none;
}

.card_diner {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 95%;
  height: 230px;
  border-radius: 20px 0 20px 0;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 3px 1px #0000003e;
  padding: 5px 5px 0 5px;
  text-decoration: none;
  margin-left: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.1s;
  list-style: none;
}

.card_image {
  display: flex;
}

.card_diner img {
  width: 100%;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.elementcoeur {
  display: flex;
  background-color: azure;
}

footer {
  display: flex;
  background-color: grey;
  list-style: none;
}/*# sourceMappingURL=style.css.map */